<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Colora.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"  />
  </runtime>
  <userSettings>
    <Colora.Properties.Settings>
      <setting name="CurrentColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="IconBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorHistoryVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenPickerVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdvancedColorsVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorHistoryLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GlobalShortcut" serializeAs="String">
        <value>Ctrl+Alt+C</value>
      </setting>
    </Colora.Properties.Settings>
  </userSettings>
</configuration>
